<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.plugin"
        version="0.7.0">

  <name>GeolocalisationPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/geolocalisationplugin.js" target="js/geolocalisationplugin.js"/>

  <js-module src="www/geolocalisationplugin.js" name="geolocalisationplugin">
    <clobbers target="cordova.plugins.geolocalisationPlugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GeolocalisationPlugin">
      <!-- com.example.plugin.src.android.GeolocalisationPlugin -->
        <param name="android-package" value="src.android.GeolocalisationPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/GeolocalisationPlugin.java" target-dir="src/android/example/plugin/"/>
    <source-file src="src/android/GeolocalisationService.java" target-dir="src/com/example/plugin/"/>

  </platform>


</plugin>